.list-group-item{
  float: inline-start;
  position: absolute;
  display: inline-block;
  text-align: center;
  margin: 10px;
  border-radius: 4px;
  border: 1px solid transparent;
  width: 400px;
  align-items: center;
}

.card{
  background-color: #E0E0E0;
  padding: 16px;
  margin-bottom: 40px;
  width: 400px;
  align-items: center;
}

.btn.btn-warning{
  color: #E0E0E0;
}

.buttons{
  display: flex;
  justify-content: space-around;
}

.review{
  display: flex;
  width: 400px;
}

.containers{
  margin: 10px;
}
